<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>!!! 404 에러 !!!</title>
    <link rel="stylesheet" href="/css/errorpage.css">
</head>
<body>
    <section id="error" class="mx-auto my-5 px-3 py-5">
        <h1>404 - 페이지를 찾지 못했습니다</h1>
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <img src="/img/멈머머리.png" alt="errorImage" width="200" height="200">
        </div>
        <p>입력하신 주소를 멈머가 못 찾지 못했어요... 주소를 다시 한번 확인해주세요!</p>
    </section>
</body>
</html>